title = Ghostty 👻
theme = Rapture
background-opacity = 0.85
background-blur = 15

{{- if eq .chezmoi.os "linux" }}
keybind = ctrl+insert=copy_to_clipboard
keybind = shift+insert=paste_from_clipboard
keybind = super+t=new_tab
keybind = super+w=close_tab
{{- end }}
